### 1. Data Preparation

#### a. Import Data

In [45]:
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [46]:
df = pd.read_csv('6. Student Performance Data.csv')
df.head()

,sex,age,mother_edu,father_edu,mother_job,father_job,traveltime,studytime,school_support,family_support,internet,romantic,freetime,health,absences,grade
0,F,18,4,4,at_home,teacher,2,2,yes,no,no,no,3,3,6,30
1,F,17,1,1,at_home,other,1,2,no,yes,yes,no,3,3,4,30
2,F,15,1,1,at_home,other,1,2,yes,no,yes,no,3,3,10,50
3,F,15,4,2,health,services,1,3,no,yes,yes,yes,2,5,2,75
4,F,16,3,3,other,other,1,2,no,yes,no,no,3,5,4,50

#### b. Data Understanding

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             395 non-null    object
 1   age             395 non-null    int64
 2   mother_edu      395 non-null    int64
 3   father_edu      395 non-null    int64
 4   mother_job      395 non-null    object
 5   father_job      395 non-null    object
 6   traveltime      395 non-null    int64
 7   studytime       395 non-null    int64
 8   school_support  395 non-null    object
 9   family_support  395 non-null    object
 10  internet        395 non-null    object
 11  romantic        395 non-null    object
 12  freetime        395 non-null    int64
 13  health          395 non-null    int64
 14  absences        395 non-null    int64
 15  grade           395 non-null    int64
dtypes: int64(9), object(7)
memory usage: 49.5+ KB

In [48]:
numbers = df.select_dtypes(include=['number']).columns
categories = df.select_dtypes(exclude=['number']).columns

In [49]:
round(df[numbers].describe(),2)

,age,mother_edu,father_edu,traveltime,studytime,freetime,health,absences,grade
count,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00
mean,16.70,2.75,2.52,1.45,2.04,3.24,3.55,5.71,52.08
std,1.28,1.09,1.09,0.70,0.84,1.00,1.39,8.00,22.91
min,15.00,0.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00
25%,16.00,2.00,2.00,1.00,1.00,3.00,3.00,0.00,40.00
50%,17.00,3.00,2.00,1.00,2.00,3.00,4.00,4.00,55.00
75%,18.00,4.00,3.00,2.00,2.00,4.00,5.00,8.00,70.00
max,22.00,4.00,4.00,4.00,4.00,5.00,5.00,75.00,100.00

#### c. Handle Missing Value & Duplicated

In [50]:
df.isna().sum()

sex               0
age               0
mother_edu        0
father_edu        0
mother_job        0
father_job        0
traveltime        0
studytime         0
school_support    0
family_support    0
internet          0
romantic          0
freetime          0
health            0
absences          0
grade             0
dtype: int64

In [51]:
df.dropna(inplace=True)

In [52]:
df.duplicated().sum()

np.int64(0)

#### d. Feature Engineering

In [ ]:
# Kategorisasi grade
def categorize_grade(grade):
    if grade >= 85:
        return 'A (Excellent)'
    elif grade >= 70:
        return 'B (Good)'
    elif grade >= 52:
        return 'C (Average)'
    elif grade >= 40:
        return 'D (Below Average)'
    else:
        return 'F (Fail)'

df['grade_category'] = df['grade'].apply(categorize_grade)
grade_dist = df['grade_category'].value_counts()

In [54]:
# Kategori Nilai
def grade_category(x):
    if x < 50:
        return 'Low'
    elif x < 75:
        return 'Medium'
    else:
        return 'High'

df['grade_category'] = df['grade'].apply(grade_category)

In [55]:
# Study efficiency (waktu belajar vs absensi)
df['study_efficiency'] = df['studytime'] / (df['absences'] + 1)

In [56]:
# Digital Access Group
df['digital_access'] = np.where(
    df['internet'] == 1,
    'Has Internet',
    'No Internet'
)

In [58]:
#Risiko Akademik (Early Warning)
df['academic_risk'] = np.where(
    (df['grade'] < 60) & (df['absences'] > 10),
    'High Risk',
    'Low Risk'
)

In [59]:
df.head()

,sex,age,mother_edu,father_edu,mother_job,father_job,traveltime,studytime,school_support,family_support,internet,romantic,freetime,health,absences,grade,grade_category,study_efficiency,digital_access,academic_risk
0,F,18,4,4,at_home,teacher,2,2,yes,no,no,no,3,3,6,30,Low,0.285714,No Internet,Low Risk
1,F,17,1,1,at_home,other,1,2,no,yes,yes,no,3,3,4,30,Low,0.400000,No Internet,Low Risk
2,F,15,1,1,at_home,other,1,2,yes,no,yes,no,3,3,10,50,Medium,0.181818,No Internet,Low Risk
3,F,15,4,2,health,services,1,3,no,yes,yes,yes,2,5,2,75,High,1.000000,No Internet,Low Risk
4,F,16,3,3,other,other,1,2,no,yes,no,no,3,5,4,50,Medium,0.400000,No Internet,Low Risk

#### e. Save to Excel

In [60]:
df.to_excel('Student Performance Data.xlsx', index=False)